$cb-color-primary-pure: #496970;
$cb-color-font: #444;
$cb-color-secondary: #f6efdf;
$cb-color-secondary-dark: #e2dbcb;
$cb-color-secondary-darker: #dcd3be;

$cb-size-xs: 0.25rem;
$cb-size-sm: 0.5rem;
$cb-size-md: 1rem;
$cb-size-lg: 2rem;
