---
import Text from '@components/Text.astro'
import App from '@layouts/App.astro'
---

<App>
  <main class="home">
    <Text className="home__title" tag="h1">
      <Text className="home__title">Comic</Text>
      <Text className="home__title--small">and</Text>
      <Text className="home__title">Books</Text>
    </Text>
  </main>
</App>

<style lang="scss">
  .home {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: $cb-size-md;

    &__title {
      display: flex;
      flex-direction: column;
      font-size: calc($cb-size-lg * 3);
      line-height: 1;
      text-align: center;
      color: $cb-color-primary;

      @include for-desktop-up {
        flex-direction: row;
        align-items: center;
        font-size: calc($cb-size-lg * 4);
      }

      &--small {
        font-size: calc($cb-size-lg * 2);
        color: #e2dbcb;

        @include for-desktop-up {
          font-size: calc($cb-size-md * 3);
          transform: rotate(-90deg);
          margin: 0 -1.5rem;
        }
      }
    }
  }
</style>
