---
import '@scss/utils/_reset.scss'

export interface Props {
  title?: string
}

const { title = 'Comic and Books' } = Astro.props
---

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap"
      rel="stylesheet"
    />

    <title>{title}</title>
  </head>
  <body>
    <slot />
    <style lang="scss">
      body {
        color: $cb-color-font;
        background-color: $cb-color-background;
      }
    </style>
  </body>
</html>
